<div id="about">
  <h2>Почему выбирают нас </h2>
  <h3>6 причин выбрать именно нас </h3>

  <article>
    <h5>Бесплатный выезд специалиста для расчета и составления сметы </h5>
  После заявки или звонка наш менеджер согласует время выезда специалиста к вам на участок для расчета и составления сметы! 
  Вы получите 3-и варианта стоимости Вашего забора совершенно бесплатно! 
  </article>

  <article>
    <h5>Работа по договору </h5>
  Только правильное отношение к делу! 
  Составляем официальный договор в котором фиксируем четкие сроки по установке и согласованную стоимость забора которая уже не изменится! 
  </article>

<article>
    <h5>Расширенная гарантия сроком на 5 лет </h5>
  Мы точно знаем что мы делаем и по этому готовы дать гарантию на производимые нами работы и материал сроком до 5 лет! 
  </article>

  <article>
  <h5>Собственная служба доставки </h5>
  Вам не придется переплачивать грузо-перевозчикам на стороне, у нас имеется собственный транспорт для перевозки материалов различных параметров. 
  </article>

  <article>
  <h5>Оплата в 2 этапа - Индивидуальный подход </h5>
  Стандартное решение это оплата в 2 этапа - в начале предоплата не менее 50% от стоимости, окончательный расчет после установки и подписания акта выполненных работ. Так же есть индивидуальные решения по рассрочке платежа. 
  </article>

  <article>
  <h5>Собственное производство </h5>
  Мы производитель что позволяет нам снижать стоимость продукта и предлагать качественные материалы по ценам ниже рыночных. 
  </article>

  <h6>А так же при заказе стандартных размеров Вашего забора комплектация заказа происходит в течении одного рабочего дня!</h6>
</div>