<div id="about">
  <h2>Почему выбирают нас </h2>

  <article class="center">
    <h5>Бесплатный выезд специалиста для расчета и составления сметы </h5>
  <p class="flow-text">После заявки или звонка наш менеджер согласует время выезда специалиста к вам на участок для расчета и составления сметы! 
  Вы получите 3-и варианта стоимости Вашего забора совершенно бесплатно! 
  </p>
  </article>

  <article class="center">
    <h5>Работа по договору </h5>
  <p class="flow-text">Только правильное отношение к делу! 
  Составляем официальный договор в котором фиксируем четкие сроки по установке и согласованную стоимость забора которая уже не изменится! 
  </p>
  </article>

  <article class="center">
    <h5>Расширенная гарантия сроком на 5 лет </h5>
  <p class="flow-text">Мы точно знаем что мы делаем и по этому готовы дать гарантию на производимые нами работы и материал сроком до 5 лет! </p>
  </article>

  <article class="center">
  <h5>Собственная служба доставки </h5>
  <p class="flow-text">Вам не придется переплачивать грузо-перевозчикам на стороне, у нас имеется собственный транспорт для перевозки материалов различных параметров. </p>
  </article>

  <article class="center">
  <h5>Оплата в 2 этапа - Индивидуальный подход </h5>
  <p class="flow-text">Стандартное решение это оплата в 2 этапа - в начале предоплата не менее 50% от стоимости, окончательный расчет после установки и подписания акта выполненных работ. Так же есть индивидуальные решения по рассрочке платежа. </p>
  </article>

  <article class="center">
  <h5>Собственное производство </h5>
  <p class="flow-text">Мы производитель что позволяет нам снижать стоимость продукта и предлагать качественные материалы по ценам ниже рыночных. </p>
  </article>

  <article class="center">
    <h5 class="flow-text">А так же при заказе стандартных размеров Вашего забора комплектация заказа происходит в течении одного рабочего дня!</h5>
  </article>

</div>