<header class="masthead">
  
  <div class="container">
    <div class="row">
      
      <div class="col-sm-6">
        <h1>
          <span class="clickable-pointer" title="Scroll for more info">Металл и дизайн</span>
          <p class="lead">Мы создаем красоту <small>(Минск)</small></p>
        </h1>
      </div>

      <div class="col-sm-6 additional-info">
        <div class="pull-right">    
          <ul class="list-unstyled">
            <li>+7 (495) 211 75 96</li>
            <li>+7 (495) 211 75 97</li>
          </ul>
        </div>
      </div>

    </div>
  </div>

</header>

<scrollable-header></scrollable-header>

<!-- Begin Body -->
<div class="container">
  <router-outlet></router-outlet>
</div>
