<div id="contacts" class="row center">
  
  <div class="col s6 m6">
    <ul class="list-unstyled">
      <li><i class="material-icons dp48">phone</i><b>МТС</b> (33) 602-02-23</li>
      <li><i class="material-icons dp48">phone</i><b>VEL</b> (29) 602-02-46</li>
    </ul>
  </div>

  <div class="col s6 m6">
    <ul class="list-unstyled">
      <li><i class="material-icons dp48 ">email</i> <a href="mailto:mir-zaborov91@mail.ru?Subject=Нужен%20забор" target="_top">mir-zaborov91@mail.ru</a></li>
    </ul>
  </div>
</div>