<div class="gallery items-3">
  
  <figure *ngIf="show1" class="item background-image1">
    <div class="col-xs-6">
      <h1>Качество</h1>
    </div>
    <div class="col-xs-6 note white">
      <h3>Многолетний опыт и полная самоотдача</h3>
    </div>
  </figure>

  <figure *ngIf="show2" class="item background-image2">
    <div class="col-xs-6">
      <h1 >Надежность</h1>
    </div>
    <div class="col-xs-6 note white">
      <h3>Завершить работу в срок и с надлежащим качеством - наш главный приоритет</h3>
    </div>
  </figure>

  <figure *ngIf="show3" class="item background-image3" >
    <div class="col-xs-6">
      <h1>Индивидуальный подход</h1>
    </div>
    <div class="col-xs-6 note white">
      <h3>Мы подскажем как лучше реализовать ваши желания и поможем составить план работ</h3>
    </div>
  </figure>

  <div class="controls">
    <button (click)="handleShow1()" class="btn btn-link" [ngClass]="{'active': show1 }" >•</button>
    <button (click)="handleShow2()" class="btn btn-link " [ngClass]="{'active': show2 }">•</button>
    <button (click)="handleShow3()" class="btn btn-link" [ngClass]="{'active': show3 }">•</button>
  </div>
</div>

<div id="nav" scrollSpy>
  <div class="navbar navbar-default navbar-static">
    
    <div class="container">
      
      <div class="navbar-collapse collapse">
        
        <ul class="nav navbar-nav">
          <li routerLinkActive="active" ><a routerLink="/main">Главная</a></li>
          <li routerLinkActive="active"><a routerLink="/contacts">Контакты</a></li>
        </ul>

      </div>    
    </div>

  </div>

</div>