<div class="info ">
  <h4>Заборы ворота калитки под ключ</h4>
    <p>(в Минске и Минской области)</p>
</div>

<div class="marketing hide-on-small-only">
<h5>Акция с соседом дешевле!!!!</h5>

<h5>Скидки от 80 м.п. бесплатный выезд на замер</h5>
</div>

<div materialize="carousel" [materializeActions]="modalActions" [materializeParams]="[{full_width: true, duration: 100}]" class="gallery carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
    </div>
    <div class="carousel-item background-image1 white-text row">
        <div class="col s6 head-text hide-on-small-only">
          <h3>Качество</h3>
        </div>
        <div class="col s6 note hide-on-small-only">
          <h5>Многолетний опыт и полная самоотдача</h5>
        </div>
    </div>
    <div class="carousel-item background-image2 white-text row">
        <div class="col s6 head-text hide-on-small-only">
          <h3 >Надежность</h3>
        </div>
        <div class="col s6 note hide-on-small-only">
          <h5>Завершить работу в срок и с надлежащим качеством - наш главный приоритет</h5>
        </div>
    </div>
    <div class="carousel-item background-image3 white-text row">
          <div class="col s6 head-text hide-on-small-only">
            <h3>Индивидуальный подход</h3>
          </div>
          <div class="col s6 note hide-on-small-only">
            <h5>Мы подскажем как лучше реализовать ваши желания и поможем составить план работ</h5>
          </div>
    </div>
</div>

<nav>
  <div class="nav-wrapper indigo lighten-5">
    <a href="/main" class="brand-logo right fav"></a>
    <ul id="nav-mobile" class="left">
      <li routerLinkActive="active" ><a routerLink="/main">Главная</a></li>
      <li routerLinkActive="active"><a routerLink="/contacts">Контакты</a></li>
    </ul>
  </div>
</nav>