<div class="row">
    <div class="col s4 m2">
      
      <ul id="sidebar" class="collection">
            <li routerLinkActive="active" class="collection-item" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/samples">Заборы</a></li>
            <li routerLinkActive="active" class="collection-item"><a routerLink="/samples/3">Ворота</a></li>
            <li routerLinkActive="active" class="collection-item"><a routerLink="/samples/4">Калитки</a></li>
            <li routerLinkActive="active" class="collection-item"><a routerLink="/samples/2">Перила</a></li>
            <li routerLinkActive="active" class="collection-item"><a routerLink="/samples/5">Ковка</a></li>
      </ul>

    </div>  
    
    <div class="col s8 m10">
    
      <router-outlet></router-outlet>

    </div> 
</div>
