<div class="row">
    <div class="col-sm-3">
      
      <ul id="sidebar" class="nav nav-pills nav-stacked">
            <li routerLinkActive="active" ><a routerLink="/main/1">Заборы</a></li>
            <li routerLinkActive="active" ><a routerLink="/main/2">Перила</a></li>
            <li routerLinkActive="active"><a routerLink="/main/3">Ворота</a></li>
            <li routerLinkActive="active"><a routerLink="/main/4">Двери</a></li>
            <li routerLinkActive="active"><a routerLink="/main/5">Ковка</a></li>
      </ul>

    </div>  
    
    <div class="col-sm-9">
    
      <router-outlet></router-outlet>

    </div> 
</div>