<div class="row">
    <div class="col s2">
      
      <ul id="sidebar" class="collection">
            <li routerLinkActive="active" class="collection-item"><a routerLink="/main/1">Заборы</a></li>
            <li routerLinkActive="active" class="collection-item"><a routerLink="/main/2">Перила</a></li>
            <li routerLinkActive="active" class="collection-item"><a routerLink="/main/3">Ворота</a></li>
            <li routerLinkActive="active" class="collection-item"><a routerLink="/main/4">Двери</a></li>
            <li routerLinkActive="active" class="collection-item"><a routerLink="/main/5">Ковка</a></li>
      </ul>

    </div>  
    
    <div class="col s10">
    
      <router-outlet></router-outlet>

    </div> 
</div>