<div class="col s12 m4 gallery-image" (click)="openModal()">
  <div class="card">

    <div class="card-image">
      <img class="gallery-image" [attr.id]="imageId" src="/assets/preview/{{jobDetailId}}/{{index}}.jpg" alt="{{alt}}">
    </div>

    <div class="card-content">
      <p [innerHTML]="alt"></p>
    </div>

  </div>

</div>

<div id="modal-{{jobDetailId}}-{{index}}" class="modal" materialize="modal" [materializeActions]="modalActions"
  [materializeParams]="[{complete: clearClose}]"
 >
        <span class="close" (click)="closeModal()">&times;</span>
          <div class="image-{{jobDetailId}}-{{index}} responsive-img"></div>
  </div>
