<article>

    <div [innerHTML]="jobDetail.details"> </div>

<a id="pikapika" href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" (click)="handleImageClick($event)" >
    <img id="pikapika2" src="https://unsplash.it/600.jpg?image=251" class="img-fluid">
</a>

    <div class="images-holder">

      <div class="img " *ngFor="let imageDetail of jobDetail.imageDetails; let i=index">
        <a target="_blank" href="#">
          <img src="/app/images/{{jobDetail.id}}/{{i+1}}.jpg" alt="Image" >
        </a>
        <div class="desc">{{imageDetail}}</div>
      </div>

    </div>
    
<div class="modal" id="modal-gallery" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal">×</button>
          <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
          <div id="modal-carousel" class="carousel">
   
            <div class="carousel-inner">           
            </div>
            
            <a class="carousel-control left" href="#modal-carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="carousel-control right" href="#modal-carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            
          </div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    
</article>